<script>
    export let todos
  
    $: totalTodos = todos.length
    $: completedTodos = todos.filter(todo => todo.completed).length
    let headingEl

    export function focus() {   // shorter version: export const focus = () => headingEl.focus()
    headingEl.focus()
  }
  </script>
  
  <h2 id="list-heading" bind:this={headingEl} tabindex="-1">{completedTodos} из {totalTodos} пунктов выполнены</h2>