<svelte:head>
	<title>About</title>
</svelte:head>

<h1>About this site</h1>

<p>This is the 'about' page. There's not much here.</p>
<div class="body">
  <header class="pageHeader">Header</header>
  <nav class="mainNav">Nav</nav>
  <article class="mainArticle">Article</article>
  <div class="siteAds">Ads</div>
  <footer class="pageFooter">Footer</footer>
</div><br />
<div class="grid">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
  <div>5</div>
  <div>6</div>
</div><br />
<div class="outer-grid">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div class="inner-grid">
    <div>5</div>
    <div>6</div>
    <div>7</div>
    <div>8</div>
  </div>
</div><br />
<h4>Формы с Grid</h4><br />
<form action="" class="myForm">
  <label for="castomer_name">Name</label>
  <input type="text" name="customer_name" id="customer_name" required="required">

  <label for="phone_number">Phone </label>
  <input type="tel" name="phone_number" id="phone_number">

  <label for="email_address">Email</label>
  <input type="email" name="email_address" id="email_address">

  <fieldset>
    <legend>Which taxi do you require?</legend>
    <label> <input type="radio" name="taxi" id="taxi_car" required value="car"> Car </label>
    <label> <input type="radio" name="taxi" id="taxi_van" required value="van"> Van </label>
    <label> <input type="radio" name="taxi" id="taxi_tuk" required value="tuktuk"> Tuk Tuk </label>
  </fieldset>

  <fieldset>
    <legend>Extras</legend>
    <label> <input type="checkbox" name="extras" id="extras_baby" value="baby"> Baby Seat </label>
    <label> <input type="checkbox" name="extras" id="extras_wheel" value="wheelchair"> Wheelchair Access </label>
    <label> <input type="checkbox" name="extras" id="extras_tip" value="tip"> Stock Tip </label>
  </fieldset>

  <label for="pickup_time">Pickup Date/Time</label>
  <input type="datetime-local" name="pickup_time" id="pickup_time" required>

  <label for="pickup_place">Pickup Place</label>
  <select name="pickup_place" id="pickup_place">
    <option value="" selected="selected">Select One</option>
    <option value="office" >Taxi Office</option>
    <option value="town_hall" >Town Hall</option>
    <option value="telepathy" >We'll Guess!</option>
  </select>

  <label for="dropoff_place">Dropoff Place</label>
  <input type="text" name="dropoff_place" id="dropoff_place" required list="destinations">
  <datalist id="destinations">
    <option value="Airport">
    <option value="Beach">
    <option value="Fred Flinstone's House">
  </datalist>

  <label for="comments">Special Instructions</label>
  <textarea name="comments" id="comments" maxlength="500"></textarea>

  <button>Submit Booking</button>
</form><br />
<h4>Выравнивание</h4><br />
<div class="grid_align">
  <div class="red">1</div>
  <div class="green">2</div>
  <div class="blue">3</div>
</div>
<h4>Наложение</h4><br />
<div class="grid_imposition">
  <div class="red">1</div>
  <div class="green">2</div>
  <div class="blue">3</div>
</div>

<style>
.grid_imposition {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background: beige;
  height: 90vh;
}
.grid_imposition>div {
  padding: 20px;
  font-size: 4vw;
  color: white;
}
.grid_imposition>.red {
  background: orangered;
  position: relative;
  left: -20vw;
  top: 20vh;
  order: 2;
  z-index: 1;
}
.grid_imposition>.green {
  background: yellowgreen;
  position: relative;
  left: -40vw;
  top: 5vh;
  order: 3;
  z-index: 2;
}
.grid_imposition>.blue {
  background: steelblue;
  top: 5vh;
  order: 1;
  z-index: 3;
}
.grid_align {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100vh;
  gap: 10px;
  background: beige;
  align-items: center;
}
.grid_align>div {
  padding: 20px;
  font-size: 4vw;
  color: white;
}
.grid_align>.red {
 background: orangered; 
 align-self: baseline;
 height: 40%;
}
.grid_align>.green {
 background: yellowgreen; 
 height: 60%;
}
.grid_align>.blue {
 background: steelblue; 
 align-self: stretch;
 height: auto;
}
.myForm {
  display: grid;
  grid-template-columns: [labels] auto [controls] 1fr ;
  grid-auto-flow: row;
  gap: .8em;
  background: beige;
  padding: 1.2em;
}
.myForm>label, .myForm>fieldset {
  grid-column: labels;
  grid-row: auto;
}
.myForm>input, .myForm>textarea, .myForm > select {
  grid-column: controls;
  grid-row: auto;
  padding: .4em;
  border: 0;
}
.myForm > fieldset,.myForm > button {
    grid-column: span 2;
  }
.myForm>button {
  padding: .8em;
  background: darkkhaki;
  border: 0;
  color: white;
}
.body {
  display: grid;
  grid-template-areas: 
  "header header header"
  "article nav ads"
  "footer footer footer"
  ;
  grid-template-rows: 80px 1fr 70px;
  grid-template-columns: 1fr 20% 15%;
  height: 100vh;
  margin: 0;
  gap: 10px;
}
.pageHeader {
  grid-area: header;
}
.pageFooter {
  grid-area: footer;
}
.mainNav {
  grid-area: nav;
}
.mainArticle {
  grid-area: article;
}
.siteAds {
  grid-area: ads;
}
header, footer, nav, article, .siteAds {
  background: gold;
  padding: 20px;
}
@media all and (max-width:575px) {
  .body {
    grid-template-areas: 
    "header"
    "nav"
    "article"
    "ads"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 70px 1fr 70px;
  }
}
.grid {
  display: grid;
  grid-template-rows: 100px 100px;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 200px;
  grid-auto-flow: column;
  gap:10px;
}
.grid>div {
  background: yellowgreen;
  padding: .5em;
  text-align: center;
}
.outer-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: .5em;
}
.outer-grid>div {
  background: limegreen;
  padding: 8px;
  font-size: 4vw;
  color: white;
}
.inner-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap:4px;
}
.inner-grid>div {
  background: lightgreen;
  padding: 8px;
}
</style>

